body{
    background-color: lightblue;
    text-align: center;
}

#footercenter{
    text-align: center;
}

#parrafo {
    /*background-color: rgb(255, 255, 255);*/
    text-align: justify;
    height: 400px;
    overflow: auto;
}
